# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ and emacs files
.idea
*~

# Ignore the out directory created when running tests
out